<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="TestComponents.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeleniumJava.MavenIntegration.ErrorValidation"/>
      <class name="SeleniumJava.MavenIntegration.SubmitOrder"/>
      <class name="SeleniumJava.MavenIntegration.StandAloneTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
